@font-face {
  font-family: FixedSys;
  src: url('Img/FSEX300.ttf');
}

*{
    overflow: hidden;
}


canvas{
    image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

body {
    background-color: #444;
    margin: 0%;
}