*{
    overflow: hidden;
    margin: 0;
}

canvas{
    image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#element{
    position: fixed;
    background-color: transparent;
}

body {
    background-color: rgb(68, 68, 68);
    margin: 0%;
}